/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Works for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

@keyframes append-animate-large {
    from {
        max-height: 0px;
    }

    to {
        max-height: 400px;
    }
}

.results-card {
    animation: append-animate-large .3s linear;
    overflow: hidden;
}

.form-floating>label,
.form-select,
.input-group-text {
    font-size: 18px;
    font-weight: 400;
}

.input-group {
    border: 1px solid #000;
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.25) inset;
}

.form-floating>label>.font-weight-bold {
    font-size: 18px;
    font-weight: 700;
}

.btn.btn-calculate,
.btn.btn-calculate:hover,
.btn.btn-calculate:focus,
.btn.btn-calculate:active,
/* for precedence over an existing style */
:not(.btn-check)+.btn.btn-calculate:active {
    height: 36px;
    width: 139px;
    border-radius: 18px;
    padding: 1px 21px 1px 21px;
    background: #C06734;
    border: none;

    font-size: 18px;
    font-weight: 400;
}

.btn.btn-calculate:disabled {
    background: #F89055;
}

.results-graph {
    margin-bottom: 16px;
}

.input-group {
    margin-top: 14px;
    margin-bottom: 24px;
}