/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Works for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

@keyframes append-animate-large {
    from {
        max-height: 0px;
    }

    to {
        max-height: 400px;
    }
}

.results-card {
    animation: append-animate-large .3s linear;
    overflow: hidden;
}

.form-floating>label,
.form-select,
.input-group-text {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;

}

.form-floating>label>.font-weight-bold {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
}

.btn.btn-calculate,
.btn.btn-calculate:hover,
.btn.btn-calculate:focus,
.btn.btn-calculate:active,
/* for precedence over an existing style */
:not(.btn-check) + .btn.btn-calculate:active {
    height: 36px;
    width: 139px;
    border-radius: 18px;
    padding: 1px 21px 1px 21px;
    background: #C06734;
    border: none;

    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
}

.btn.btn-calculate:disabled {
    background: #F89055;
}

.results-graph {
    border: black;
    border-width: 1px;
    border-style: solid;
    width: fit-content;
}

.profession-card-contents {
    font-family: Space Grotesk, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
}