$body-bg: #FFFDF8;
$border-radius: 0;
$border-radius-lg: 0;
$link-color: black;
$body-tertiary-bg: $body-bg;
$card-border-width: 0;
$card-spacer-y: 0;
$font-family-sans-serif: Space Grotesk, sans-serif;
$font-family-monospace: Space Mono, monospace;
$navbar-padding-y: 0;
$accordion-body-padding-x: 29px;
$accordion-body-padding-y: 14px;
$accordion-button-padding-x: 29px;
$accordion-button-padding-y: 19px;


$grid-breakpoints: (
  xs: 0,
  sm: 429px,
  md: 835px,
  lg: 1513px,
  xl: 1600px,
  xxl: 1700px
);

@import '~bootstrap/scss/bootstrap.scss';
